*{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    
}
nav{
    display: flex;
    width: 100vw;
    height: 7vh;
    background-color:#2B124C;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
li{
    justify-content: space-around;
    display:inline;
    color: white;
    margin-right:20px;
    border: solid #2B124C;

}
li:hover{
    border-bottom-color:whitesmoke;
}
a{
    text-decoration: none;
    color:white;
}
.section1{
    display: flex;
}
.box1{
    width: 150px;
    background-color:darkred;
    color: white;
    text-align: center;
}
.section2{
    display: flex;
    width:100vw;
    height:70vh;
    align-items: center; 
    justify-content: center; 
}
.section2 img{
    width:100%;
    height: 100%;
}
.section2 p{
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: greenyellow;
}
.section2 .trans{
    position: absolute;
    width:100vw;
    height:70vh;
   
}
.trans:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.section3{
    display:inline-block;
    width: 100vw;
    height: 50vh;

}
.section3 p{
    font-size: 40px;
    text-align: center;
}
.program{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.program button{
    
    display: inline-flex;
    margin-top: 3%;
    width:200px;
    height: 100px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button img{
    
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: black;
    color: red;
}
.program p{
    font-size: 20px;
}
.section4{
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: #522B5B;
    align-items: center;
    justify-content: center;
}
iframe{
    
    border-radius: 20px;
    
}




